@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo ExtraCondensed ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Toren';
  src: url('/fonts/Toren-Mono.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LaBelle';
  src: url('/fonts/(TRIAL)LaBelleEpoque-Alt.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --paper: #FAF6EE;
  --sky: #C6D8FF;
  --butter: #FFFBCA;
  --leather: #8D3F2F;
  --chocolate: #533021;
  --velvet: #195693;
}

body {
  background-color: var(--paper);
  font-family: 'Toren', monospace;
  color: var(--chocolate);
}@font-face {
  font-family: 'Toren';
  src: url('/fonts/Toren-Mono.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}